.appContainer {
    background-color:#F2EDF3;
}

.gridContainer {
    background-color:#F2EDF3;
}


.searchContainer {
    width: 100%;
}


.ui.search  {
    left: 20%;
}

.ui.card  {
    width: 27%;
}

.ui.search > .ui.input.icon { width: 50%; }

.ui.search > .results { width: 50%; }

.musicPlayerContainer {
    min-height: 40%;
    height: 40%;
}


.albumContainer {
    min-height: 40%;

    height: 40%;
}

.tweetsContainer {
    min-height: 50%;
    height: 50%;
}

.mapContainer {
    min-height: 50%;
    height: 50%;
}


.tweets {
    height: 80%;
    overflow: auto;
}

.tweetsLoading {
    padding-left: 16%;
    padding-top: 25%;
}