.appContainer {
    background-color:#F2EDF3;
}

.gridContainer {
    background-color:#F2EDF3;
}


.searchContainer {
    width: 100%;
}


.ui.search  {
    left: 20%;
}


.ui.search > .ui.input.icon { width: 50%; }

.ui.search > .results { width: 50%; }


